#portfolio, #about {
    width: 100%;
    h2 {
        font-size: 6rem;
        text-align: center;
        margin-bottom: 4rem;
    }
}

#portfolio {
    .portfolio-boxes {
        width: 100%;
        .flexbox(row wrap, center, center, center);
        .portfolio-box {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: auto;
            @media @smTabletMQ {
                width: 50%;
            }
            @media @lgTabletMQ{
                width: 33%;
            }
            @media @desktopMQ {
                width: 25%;
            }
        }
        .one {
            background-image: url('../images/block1.jpg');
        }
        .two {
            background-image: url('../images/tipsease.jpg');
        }
        .three {
            background-image: url('../images/block2.jpg');
        }
        .four {
            background-image: url('../images/block3.jpg');
        }
        .five {
            background-image: url('../images/block6.jpg');
        }
        .six {
            background-image: url('../images/block7.jpg');
        }
        .seven {
            background-image: url('../images/block1.jpg');
        }
        .eight {
            background-image: url('../images/block2.jpg');
        }
    }
}

#about {
    .about-body {
        .flexbox(row nowrap, center, center, center);

        .bio, .contact {
            padding: 3rem;
        }
        img {
            display: none;
            @media @desktopMQ {
                display: block;
                width: 100%;
                max-width: 400px;
                height: auto;
                padding: 3rem;
            }
        }
        .bio-text {
            .flexbox(column nowrap, center, center, center);
            @media @desktopMQ {
                .flexbox(row nowrap, center, center, center);
            }
        }
        .bio {
            width: 100%;
            @media @desktopMQ {
                width: 50%;
            }
            p {
                font-size: 1.8rem;
            }
        }
        .contact {
            width: 100%;
            text-align: center;
            @media @desktopMQ {
                width: 50%;
                text-align: left;
            }

            p {
                font-size: 3rem;
                @media @desktopMQ {
                    font-size: 2.5rem;
                }
            }
            a {
                text-decoration: none;
                color: @navFontColor;
                &:hover {
                    color: @navHoverFontColor;
                }
            }
        }
    }
}