#portfolio, #about {
    width: 100%;
    h2 {
        font-size: 6rem;
        text-align: center;
        margin-bottom: 4rem;
    }
}

#portfolio {
    background-color: @porfolio-background-color;
    .portfolio-boxes {    
        width: 100%;
        .flexbox(row wrap, center, center, center);
        .portfolio-box {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: auto;
            border: 1px solid rgb(100, 100, 100);
            @media @smTabletMQ {
                width: 50%;
            }
            @media @desktopMQ{
                width: 33.333%;
            }
        }
        .one {
            background-image: url('../images/logo-transparent-white-version.png');
        }
        .two {
            background-image: url('../images/lambda-times-words.png');
        }
        .three {
            background-image: url('../images/block2.jpg');
        }
        .four {
            background-image: url('../images/block3.jpg');
        }
        .five {
            background-image: url('../images/block6.jpg');
        }
        .six {
            background-image: url('../images/block7.jpg');
        }
    }
    // slide out description box for projects
    .portfolio-slideout-container {
        display: none;
        position: fixed;
        top: 6rem;
        right: -1000px;
        width: 400px;
        height: 100vh;
        background-color: rgba(53, 53, 53, 0.973);
        border: none;
        z-index: 1;
        padding: 3rem;
        overflow-y: auto;
        @media @smTabletMQ{
            width: 500px;
        }
        @media @lgTabletMQ{
            width: 700px;
        }
        #x {
            font-size: 3rem;
        }
        a {
            text-decoration: none;
            color: @navFontColor;
            &:hover {
                color: @navHoverFontColor;
            }
        }
        li {
            font-size: 1.5rem;
            list-style-type: disc;
            padding: 1rem;
            margin-left: 2.5rem;
        }
        h3 {
            margin: 3rem 0 2rem 0;
        }
    }
}

#about {
    .about-body {
        .flexbox(row nowrap, center, center, center);
        .bio, .contact, i {
            padding: 3rem;
        }
        i {
            font-size: 25rem;
            display: none;
            @media @lgTabletMQ{
                display: block;
            }
        }
        .bio-text {
            width: 100%;
            .flexbox(column nowrap, center, center, center);
            @media @lgTabletMQ {
                width: 50%;
            }
        }
        .bio {
            width: 100%;
            p {
                font-size: 1.8rem;
            }
        }
        .contact {
            width: 100%;
            text-align: center;
            @media @lgTabletMQ {
                text-align: left;
            }

            p {
                font-size: 3rem;
                @media @desktopMQ {
                    font-size: 2.5rem;
                }
            }
            a {
                text-decoration: none;
                color: @navFontColor;
                &:hover {
                    color: @navHoverFontColor;
                }
            }
        }
    }
}