.header-nav {
    .flexbox(row nowrap, flex-end, center, center);
    width: 60%;
    a {
        padding: 0 2rem;
        text-decoration: none;
        font-size: 1.7rem;
        color: @navFontColor;
        &:hover {
            color: @navHoverFontColor;
        }
    }
}