@fontColor: @interface-purple-light;
@background-color: @dark-gray;

// navbar
@navFontColor: @interface-purple-light;
@navHoverFontColor: @interface-blue-light;

// colors
@interface-purple-dark: #554058;
@interface-brown-dark: #584940;
@interface-blue-dark: #404F58;
@interface-green-dark: #435840;
@interface-purple-med: #85648A;
@interface-brown-med: #8A7264;
@interface-blue-med: #647C8A;
@interface-green-med: #698a64;
@interface-purple-light: #c99dd0;
@interface-brown-light: #D0B09D;
@interface-blue-light: #9DBDD0;
@interface-green-light: #A3D09D;
@dark-gray: rgb(39, 39, 39);

// media queries
@mobileMQ: ~"only screen and (min-width: 1px)";
@smTabletMQ: ~"only screen and (min-width: 501px)";
@lgTabletMQ: ~"only screen and (min-width: 800px)";
@desktopMQ: ~"only screen and (min-width: 1000px)";