/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  color: #e9e7e7;
  background: #272727;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
  font-family: 'Source Code', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2.3rem;
}
h5 {
  font-size: 2rem;
}
h6 {
  font-size: 1.7rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
}
.header-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  width: 20%;
}
@media only screen and (min-width: 800px) {
  .header-nav {
    width: 60%;
  }
}
.header-nav i {
  font-size: 3.5rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 800px) {
  .header-nav i {
    display: none;
  }
}
.header-nav ul {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 800px) {
  .header-nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
.header-nav ul li,
.header-nav ul a {
  font-size: 4rem;
  color: #9da6d0;
}
.header-nav ul li:hover,
.header-nav ul a:hover {
  color: #75c4f1;
}
@media only screen and (min-width: 800px) {
  .header-nav ul li,
  .header-nav ul a {
    font-size: 2rem;
  }
}
.header-nav ul li {
  margin: 4rem;
}
@media only screen and (min-width: 800px) {
  .header-nav ul li {
    margin: 0 2rem;
  }
}
.header-nav ul li a {
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .header-nav .menu {
    display: block;
    position: fixed;
    top: 8rem;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: rgba(73, 84, 102, 0.925);
    border-top-left-radius: 30rem;
    border-bottom-left-radius: 30rem;
    border: none;
    z-index: 2;
  }
}
.header-nav #first-nav {
  padding-top: 10rem;
}
@media only screen and (min-width: 800px) {
  .header-nav #first-nav {
    padding-top: 0;
  }
}
.main-header {
  width: 100%;
  height: 100vh;
}
.main-header .header-bar {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 8rem;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.main-header .name {
  width: 80%;
}
@media only screen and (min-width: 800px) {
  .main-header .name {
    width: 40%;
  }
}
.main-header .name h1 {
  font-size: 3rem;
}
@media only screen and (min-width: 800px) {
  .main-header .name h1 {
    font-size: 3.5rem;
  }
}
.main-header .header-body {
  padding: 0 3rem;
  height: 100%;
  padding-top: 15rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 800px) {
  .main-header .header-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 0;
  }
}
.main-header .header-body .shoutout {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
@media only screen and (min-width: 800px) {
  .main-header .header-body .shoutout {
    width: 50%;
  }
}
.main-header .header-body .image {
  width: 50%;
  height: 100%;
  background-image: url('../images/stones.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-header h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 800px) {
  .main-header h2 {
    font-size: 10rem;
  }
}
.main-header h3 {
  font-size: 2.2rem;
}
@media only screen and (min-width: 800px) {
  .main-header h3 {
    font-size: 3rem;
  }
}
.nav-colored {
  background-color: #272727;
}
.nav-transparent {
  background-color: transparent;
}
footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  text-align: center;
  margin: 5rem 0 3rem 0;
}
#portfolio,
#about {
  width: 100%;
}
#portfolio h2,
#about h2 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}
#portfolio {
  background-color: #444444;
}
#portfolio .portfolio-boxes {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#portfolio .portfolio-boxes .portfolio-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  border: 1px solid #646464;
}
@media only screen and (min-width: 501px) {
  #portfolio .portfolio-boxes .portfolio-box {
    width: 50%;
  }
}
@media only screen and (min-width: 1000px) {
  #portfolio .portfolio-boxes .portfolio-box {
    width: 33.333%;
  }
}
#portfolio .portfolio-boxes .one {
  background-image: url('../images/logo-transparent-white-version.png');
}
#portfolio .portfolio-boxes .two {
  background-image: url('../images/lambda-times-words.png');
}
#portfolio .portfolio-boxes .three {
  background-image: url('../images/block2.jpg');
}
#portfolio .portfolio-boxes .four {
  background-image: url('../images/block3.jpg');
}
#portfolio .portfolio-boxes .five {
  background-image: url('../images/block6.jpg');
}
#portfolio .portfolio-boxes .six {
  background-image: url('../images/block7.jpg');
}
#portfolio .portfolio-slideout {
  display: block;
  position: fixed;
  top: 8rem;
  right: -1000px;
  width: 400px;
  height: 100vh;
  background-color: rgba(53, 53, 53, 0.973);
  border: none;
  z-index: 4;
  padding: 3rem;
}
@media only screen and (min-width: 501px) {
  #portfolio .portfolio-slideout {
    width: 500px;
  }
}
@media only screen and (min-width: 800px) {
  #portfolio .portfolio-slideout {
    width: 700px;
  }
}
#portfolio .portfolio-slideout #x {
  font-size: 3rem;
}
#portfolio .portfolio-slideout a {
  text-decoration: none;
  color: #9da6d0;
}
#portfolio .portfolio-slideout a:hover {
  color: #75c4f1;
}
#portfolio .portfolio-slideout li {
  font-size: 1.5rem;
  list-style-type: disc;
  padding: 1rem;
  margin-left: 2.5rem;
}
#portfolio .portfolio-slideout h3 {
  margin: 3rem 0 2rem 0;
}
#about .about-body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#about .about-body .bio,
#about .about-body .contact,
#about .about-body i {
  padding: 3rem;
}
#about .about-body i {
  font-size: 25rem;
  display: none;
}
@media only screen and (min-width: 800px) {
  #about .about-body i {
    display: block;
  }
}
#about .about-body .bio-text {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 800px) {
  #about .about-body .bio-text {
    width: 50%;
  }
}
#about .about-body .bio {
  width: 100%;
}
#about .about-body .bio p {
  font-size: 1.8rem;
}
#about .about-body .contact {
  width: 100%;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  #about .about-body .contact {
    text-align: left;
  }
}
#about .about-body .contact p {
  font-size: 3rem;
}
@media only screen and (min-width: 1000px) {
  #about .about-body .contact p {
    font-size: 2.5rem;
  }
}
#about .about-body .contact a {
  text-decoration: none;
  color: #9da6d0;
}
#about .about-body .contact a:hover {
  color: #75c4f1;
}
